*.csv
**/*.csv
*.txt
**/*.txt

.vscode/
__pycache__/
**/*.code-*
**/.ipynb_*
test*/
*.out
*.tar*
gpt_models/
gpt_model/
minGPT/
.ipynb_checkpoints/
data/
*.txt
*.lock
*.json
events.out.*
*.pdf
*.hwp
*.PDF
*.xlsx